<?xml version="1.0"?>
<module name="Checker">
    <module name="TreeWalker">
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="tabWidth" value="4"/>
        </module>
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="FinalParameters"/>
    </module>
</module>